In [1]:
%pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (3.0.0)
Requirement already satisfied: sqlalchemy in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (2.0.46)
Requirement already satisfied: pymysql in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (1.1.2)
Requirement already satisfied: numpy>=2.3.3 in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: greenlet>=1 in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)
from sqlalchemy import create_engine

In [3]:
engine = create_engine(
    "mysql+pymysql://root@localhost:3306/climate_watch"
)

In [4]:
engine.connect()

In [5]:
CO2 = pd.read_sql(
    "SELECT * FROM co2",
    engine
)

In [6]:
CO2[['CO2']].describe()

           CO2
count 11550.00
mean    126.70
std     611.94
min       0.00
25%       0.78
50%       7.41
75%      52.30
max   13124.70

In [8]:
landenperjaar = CO2.groupby('Year').count()
print(landenperjaar)

       ID  Country  CO2
Year
1970  210      210  210
1971  210      210  210
1972  210      210  210
1973  210      210  210
1974  210      210  210
1975  210      210  210
1976  210      210  210
1977  210      210  210
1978  210      210  210
1979  210      210  210
1980  210      210  210
1981  210      210  210
1982  210      210  210
1983  210      210  210
1984  210      210  210
1985  210      210  210
1986  210      210  210
1987  210      210  210
1988  210      210  210
1989  210      210  210
1990  210      210  210
1991  210      210  210
1992  210      210  210
1993  210      210  210
1994  210      210  210
1995  210      210  210
1996  210      210  210
1997  210      210  210
1998  210      210  210
1999  210      210  210
2000  210      210  210
2001  210      210  210
2002  210      210  210
2003  210      210  210
2004  210      210  210
2005  210      210  210
2006  210      210  210
2007  210      210  210
2008  210      210  210
2009  210      210  210
2010  210      210  210
2011  210      210  210
2012  210      210  210
2013  210      210  210
2014  210      210  210
2015  210      210  210
2016  210      210  210
2017  210      210  210
2018  210      210  210
2019  210      210  210
2020  210      210  210
2021  210      210  210
2022  210      210  210
2023  210      210  210
2024  210      210  210

In [9]:
laatstejaar = CO2['Year'].max()
print(laatstejaar)

2024

In [ ]:
eu_countries = [
    'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus',
    'Czechia', 'Denmark', 'Estonia', 'Finland',
    'France and Monaco', 'Germany', 'Greece', 'Hungary', 'Ireland',
    'Italy, San Marino And the Holy See', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta',
    'Netherlands', 'Poland', 'Portugal', 'Romania',
    'Slovakia', 'Slovenia', 'Spain', 'Sweden'
]

In [10]:
laatstejaarco2 = CO2[CO2['Year'] == laatstejaar]
print(laatstejaarco2)

          ID                 Country  Year    CO2
11340  11340                   Aruba  2024   0.56
11341  11341             Afghanistan  2024  12.07
11342  11342                  Angola  2024  28.10
11343  11343                Anguilla  2024   0.02
11344  11344  International Aviation  2024 614.15
...      ...                     ...   ...    ...
11545  11545                   Samoa  2024   0.35
11546  11546                   Yemen  2024  10.58
11547  11547            South Africa  2024 440.17
11548  11548                  Zambia  2024  11.57
11549  11549                Zimbabwe  2024  12.86

[210 rows x 4 columns]

In [12]:
top5 = laatstejaarco2.sort_values(by='CO2', ascending=False).head(5)
print(top5)

          ID        Country  Year      CO2
11376  11376          China  2024 13124.70
11538  11538  United States  2024  4632.17
11430  11430          India  2024  3153.83
11500  11500         Russia  2024  2009.15
11439  11439          Japan  2024   972.27

In [13]:
Co2laatstejaarrestvandewereld = CO2[CO2["Year"] != laatstejaar].sum()
print(Co2laatstejaarrestvandewereld)

ID                                                  64292130
Country    ArubaAfghanistanAngolaAnguillaInternational Av...
Year                                                22640310
CO2                                               1423805.71
dtype: object