In [4]:
%pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (3.0.0)
Requirement already satisfied: sqlalchemy in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (2.0.46)
Requirement already satisfied: pymysql in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (1.1.2)
Requirement already satisfied: numpy>=2.3.3 in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: greenlet>=1 in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in c:\Users\rafsc\AppData\Local\Programs\Python\Python314\Lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)
from sqlalchemy import create_engine

In [6]:
engine = create_engine(
    "mysql+pymysql://root@localhost:3306/climate_watch"
)

In [7]:
engine.connect()

In [8]:
CO2 = pd.read_sql(
    "SELECT * FROM co2",
    engine
)

In [9]:
CO2[['CO2']].describe()

           CO2
count 11550.00
mean    126.70
std     611.94
min       0.00
25%       0.78
50%       7.41
75%      52.30
max   13124.70

In [10]:
landenperjaar = CO2.groupby('Year').count()
print(landenperjaar)

       ID  Country  CO2
Year
1970  210      210  210
1971  210      210  210
1972  210      210  210
1973  210      210  210
1974  210      210  210
1975  210      210  210
1976  210      210  210
1977  210      210  210
1978  210      210  210
1979  210      210  210
1980  210      210  210
1981  210      210  210
1982  210      210  210
1983  210      210  210
1984  210      210  210
1985  210      210  210
1986  210      210  210
1987  210      210  210
1988  210      210  210
1989  210      210  210
1990  210      210  210
1991  210      210  210
1992  210      210  210
1993  210      210  210
1994  210      210  210
1995  210      210  210
1996  210      210  210
1997  210      210  210
1998  210      210  210
1999  210      210  210
2000  210      210  210
2001  210      210  210
2002  210      210  210
2003  210      210  210
2004  210      210  210
2005  210      210  210
2006  210      210  210
2007  210      210  210
2008  210      210  210
2009  210      210  210
2010  210      210  210
2011  210      210  210
2012  210      210  210
2013  210      210  210
2014  210      210  210
2015  210      210  210
2016  210      210  210
2017  210      210  210
2018  210      210  210
2019  210      210  210
2020  210      210  210
2021  210      210  210
2022  210      210  210
2023  210      210  210
2024  210      210  210

In [11]:
laatstejaar = CO2['Year'].max()
print(laatstejaar)

2024

In [28]:
eu_countries = [
    'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus',
    'Czechia', 'Denmark', 'Estonia', 'Finland',
    'France and Monaco', 'Germany', 'Greece', 'Hungary', 'Ireland',
    'Italy, San Marino and the Holy See', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta',
    'Netherlands', 'Poland', 'Portugal', 'Romania',
    'Slovakia', 'Slovenia', 'Spain', 'Sweden'
]

In [29]:
eu_per_year = (CO2[CO2['Country'].isin(eu_countries)].groupby('Year')['CO2'].sum().reset_index())
eu_per_year['Country'] = 'European Union'
print(eu_per_year)

    Year     CO2         Country
0   1970 3363.76  European Union
1   1971 3379.16  European Union
2   1972 3512.32  European Union
3   1973 3692.40  European Union
4   1974 3621.11  European Union
5   1975 3525.52  European Union
6   1976 3767.68  European Union
7   1977 3756.21  European Union
8   1978 3903.55  European Union
9   1979 4037.12  European Union
10  1980 3945.96  European Union
11  1981 3761.65  European Union
12  1982 3672.69  European Union
13  1983 3649.19  European Union
14  1984 3691.94  European Union
15  1985 3713.02  European Union
16  1986 3716.83  European Union
17  1987 3759.18  European Union
18  1988 3747.65  European Union
19  1989 3735.78  European Union
20  1990 3576.05  European Union
21  1991 3516.82  European Union
22  1992 3365.46  European Union
23  1993 3314.24  European Union
24  1994 3292.60  European Union
25  1995 3331.64  European Union
26  1996 3441.69  European Union
27  1997 3350.98  European Union
28  1998 3334.68  European Union
29  1999 3247.61  European Union
30  2000 3249.24  European Union
31  2001 3301.22  European Union
32  2002 3272.88  European Union
33  2003 3364.64  European Union
34  2004 3355.38  European Union
35  2005 3317.95  European Union
36  2006 3343.71  European Union
37  2007 3293.25  European Union
38  2008 3235.90  European Union
39  2009 3000.90  European Union
40  2010 3121.71  European Union
41  2011 3023.67  European Union
42  2012 2962.57  European Union
43  2013 2906.60  European Union
44  2014 2766.67  European Union
45  2015 2810.51  European Union
46  2016 2826.89  European Union
47  2017 2836.31  European Union
48  2018 2776.83  European Union
49  2019 2654.03  European Union
50  2020 2423.95  European Union
51  2021 2585.11  European Union
52  2022 2510.01  European Union
53  2023 2288.70  European Union
54  2024 2242.31  European Union

In [30]:
CO2_zonder_eu = CO2[~CO2['Country'].isin(eu_countries)]

In [31]:
import pandas as pd

CO2_nieuw = pd.concat([CO2_zonder_eu, eu_per_year], ignore_index=True)
aantallanden = CO2_nieuw.groupby('Year').count()
print(aantallanden)

       ID  Country  CO2
Year
1970  184      185  185
1971  184      185  185
1972  184      185  185
1973  184      185  185
1974  184      185  185
1975  184      185  185
1976  184      185  185
1977  184      185  185
1978  184      185  185
1979  184      185  185
1980  184      185  185
1981  184      185  185
1982  184      185  185
1983  184      185  185
1984  184      185  185
1985  184      185  185
1986  184      185  185
1987  184      185  185
1988  184      185  185
1989  184      185  185
1990  184      185  185
1991  184      185  185
1992  184      185  185
1993  184      185  185
1994  184      185  185
1995  184      185  185
1996  184      185  185
1997  184      185  185
1998  184      185  185
1999  184      185  185
2000  184      185  185
2001  184      185  185
2002  184      185  185
2003  184      185  185
2004  184      185  185
2005  184      185  185
2006  184      185  185
2007  184      185  185
2008  184      185  185
2009  184      185  185
2010  184      185  185
2011  184      185  185
2012  184      185  185
2013  184      185  185
2014  184      185  185
2015  184      185  185
2016  184      185  185
2017  184      185  185
2018  184      185  185
2019  184      185  185
2020  184      185  185
2021  184      185  185
2022  184      185  185
2023  184      185  185
2024  184      185  185

In [32]:
laatstejaarco2 = CO2_nieuw[CO2_nieuw['Year'] == laatstejaar]
print(laatstejaarco2)

            ID                 Country  Year     CO2
9936  11340.00                   Aruba  2024    0.56
9937  11341.00             Afghanistan  2024   12.07
9938  11342.00                  Angola  2024   28.10
9939  11343.00                Anguilla  2024    0.02
9940  11344.00  International Aviation  2024  614.15
...        ...                     ...   ...     ...
10116 11546.00                   Yemen  2024   10.58
10117 11547.00            South Africa  2024  440.17
10118 11548.00                  Zambia  2024   11.57
10119 11549.00                Zimbabwe  2024   12.86
10174      NaN          European Union  2024 2242.31

[185 rows x 4 columns]

In [34]:
top5 = laatstejaarco2.sort_values(by='CO2', ascending=False).head(5)
print(top5)

            ID         Country  Year      CO2
9969  11376.00           China  2024 13124.70
10108 11538.00   United States  2024  4632.17
10013 11430.00           India  2024  3153.83
10174      NaN  European Union  2024  2242.31
10073 11500.00          Russia  2024  2009.15

In [17]:
Co2laatstejaarrestvandewereld = CO2[CO2["Year"] == laatstejaar].sum()
print(Co2laatstejaarrestvandewereld)

ID                                                   2403345
Country    ArubaAfghanistanAngolaAnguillaInternational Av...
Year                                                  425040
CO2                                                 39632.64
dtype: object